@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply overflow-x-hidden
    }
}

*{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

.gr{
    color: #3BCA17;
}